<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="4.3.1" targetFramework="net35" requireReinstallation="True" />
  <package id="EntityFramework.SqlServerCompact" version="4.3.1" targetFramework="net35" requireReinstallation="True" />
  <package id="Microsoft.SqlServer.Compact" version="4.0.8876.1" targetFramework="net35" requireReinstallation="True" />
  <package id="SqlServerCompact" version="4.0.8854.1" targetFramework="net35" />
</packages>